<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/weather-partly-snowy-rainy.png">
    <title>404</title>
  </head>
  <body>
    <%- include ('partials/header') %>
    <h2>404 page not found!</h2>
  </body>
</html>
