<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/weather-partly-snowy-rainy.png">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      <%- include ('partials/header') %>
      <p>Mini weather application built with Nodejs using mapbox.com and darksky.net.</p>
      <img id= "about-img" src="/assets/samurai.jpg"/>
    </div>
    <%- include ('partials/footer') %>
  </body>
</html>
